#box {
  background-color: rgba(0,0,0,0.25); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#h1_for_menu{
padding-top: 42px;
color: white;
}

header#menu{
	background-color: #151E1E;
	height: 15%;
}

html,body,header, #intro{
		height: 100%;
}
.search-box {
	display: flex;
	position: absolute;
	background-color: #2f3640;
	height:60px;
	width: 270px;
	border-radius: 20px;
	padding: 10px;

}
*{outline: none!important;}
.search-btn {
	display: block;
	justify-content: center;
	align-items: center;
	color: #f0f0f0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #2f3640;
	text-decoration: none;
	border: none;
}

.search-txt {
	border: none;
	outline: none;
	background: none;
	padding: 2px;
	color: #fff;
	font-size: 16px;
	line-height: 40px;

}

.search-box:hover .search-btn {
	background-color: #2b2b2b;
	padding:6px;
}
#intro{
	background: url(../img/img_9728.jpg) no-repeat center center fixed;
	
}
.top-nav-collapse{
	background-color: #24355C;
}
@media (max-width: 768px) {
 .navbar:not(.top-nav-collapse){
   background: #24355C;
}
}



